html {
  width: 100%;
}

body {
  width: 2000px;
}

.board {
  margin: auto auto;
}

.board-row {
  display: flex;
}

.square {
  width: 60px;
  height: 60px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}

.square.white {
  background-color: #f0d9b5;
}
.square.black {
  background-color: #b58863;
}

.white-piece {
  text-shadow: 2px 2px black;
  color: #ffffff;
}

.black-piece {
  text-shadow: 2px 2px lightgray;
  color: #000000;
}

.highlighted {
  border: 3px solid yellow;
}

.App {
  margin: 10px;
  display: flex;

}
